# Игнорировать папку tmp
tmp/

# Игнорировать все файлы Thumbs.db
Thumbs.db

# Игнорировать все файлы с расширением  .DS_Store
*.DS_Store

# Игнорировать все файлы, содержащие суффикс _old
*_old

# Игнорировать все файлы, содержищие суффикс _backup
*_backup